extends layout

block content
  h1= title
  - var houses = results;

  div(class="container-fluid")

    div(class="row")
      each f, index in houses
        div(class="col-sm-2", onclick=`buy(${index})` ) #{f.house_number}, #{f.type_of_house}, #{f.location}
        script.
          function buy(index)
          {
            alert(`you purchased Item: ${index+1}`)
          }